<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ssm.dao.mapper.UserMapper">
  <select id="regist" >
	insert into mall_user(id,username,password,e_mail,phone)
		values(seq_mall_use.nextval,#{username},#{password},#{eMail},#{phone})
  </select>
  <select id="findOneUsername" resultType="ssm.entity.User">
		select id,username,password,e_mail,phone 
		from mall_user
		where username = #{username}
  </select>
</mapper>