<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
<!-- 		java属性名picturePath = 数据库列名PICTURE_PATH  -->
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
<!-- 		这样一来在mapper.xml中可以使用实体类的简单类名 -->
  		<package name="ssm.entity"/>
	</typeAliases>
</configuration>